<Server>
	<MySQL>
		<Server>localhost</Server>
		<Port>3306</Port>
		<User>ultrp</User>
		<Password>ultrpadmin</Password>
		<Database>ultrp</Database>
	</MySQL>
	<StatsFilePath>C:\Program Files\Bohemia Interactive\ArmA 2 Operation Arrowhead\a2server</StatsFilePath>
	<StatsFile>stats.sqf</StatsFile>
</Server>
